/*DIV Me //////////////////////////////////////////////////////////////////*/

.divMeText{
	position: relative;
	height: 100vh;
	width: 100%;
	background: white;
}
.divMeText .divMe{
	height: 100vh;
	width: 100px;
  	background: #21a2a7;
}  
.divMeText .divPhoto{
	position: absolute;
	left: 10%;
	top: 8%;
	width: 90%;
	height: 92%;
}
#photoMe.start{
	height: 250px;
	width: 250px;
	border: 4px solid white;
	border-radius: 50%;
	animation: photoMove 1s;	
}
@keyframes photoMove{
	0% {transform: translate(-200px) skewX(10deg);}
	from{opacity: 0;}
	to{opacity: 1;}
}
.divMeText .divPhoto h1{
	position: absolute;
	top: 30px;
	left: 200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 450%;
	color: #21a2a7;
	letter-spacing: 5px; 
 	overflow: hidden;
  	width: 230px;
  	animation: type 2s steps(190, end);
}
@keyframes type{ 
  from { width: 0; } 
  to {width: 230px;}
} 
.divMeText .divPhoto #articleMe{
	position: absolute;
	top: 30%;
	left: 30%;
	height: 45%;
	width: 60%;
	text-align: left;
	border-bottom: 3px solid #21a2a7;
	border-radius: 10%;
	font-family: 'Open Sans', sans-serif;
}
#spanAboutMe.start{
	letter-spacing: 2px;
	color: black;
	font-size: 150%;
	white-space: pre-wrap;
	animation: spanMove 1s;
	display: inline-block;
}
@keyframes spanMove{
	0% {transform: translate(200px) skewX(-10deg);}
	from{opacity: 0;}
	to{opacity: 1;}
}
.divMeText .stringSkill{
	position: absolute;
	bottom: 0px;
	background-color: black;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 55px;
	opacity: 0.7;
	text-align: center;
}
.divMeText .stringSkill .spanSkill{
	display: inline-block;
	color: white;
	font-size: 130%;
	width: 150px;
	height: inherit;
}
.divMeText .stringSkill .spanSkill img{
	margin-left: 10px;
	display: inline;
	height: inherit;
	max-width: 55px;
}
@media screen and (max-width: 850px){
	.divMeText .divPhoto #articleMe{
		left: 37%;
		width: 53%;
		height: 55%;
	}
}
@media screen and (max-width: 768px){
	.divMeText .divPhoto #photoMe, .divMeText .divPhoto #articleMe #spanAboutMe{
		animation: none;
	}
}
@media screen and (max-width: 700px){
	.divMeText .divPhoto #articleMe{
		left: 40%;
		width: 50%;
	}
	.divMeText .divPhoto #photoMe{
		height: 200px;
		width: 200px;
	}
	.divMeText .divPhoto h1{
		top: 20px;
		left: 160px;
		font-size: 360%;
	}
	.divMeText .stringSkill .spanSkill .spanString{	
	display: none;
	}
}
@media screen and (max-width: 450px){
	.divMeText .divPhoto{
		left: 0;
		top: 5%;
		width: 100%;
		height: 95%;
		text-align: center;
	}
	.divMeText .divPhoto h1{
			display: none;
	}
	.divMeText .divPhoto #articleMe{
		top: 35%;
		left: 10%;
		height: 50%;
		width: 80%;
		border-bottom: 3px solid black;
	}
	.divMeText .stringSkill .spanSkill{
		width: 60px;
	}
}
@media screen and (max-width: 270px){
	.divMeText .stringSkill{
		height: 110px;
		opacity: 1.0;
	}
	.divMeText .stringSkill .spanSkill{
		height: 55px;
		width: 64px;
	}
}
@media screen and (max-height: 600px) and (min-width: 760px){
	.divMeText .divPhoto{
		top: 15%;
		height: 90%;
	}
	.divMeText .divPhoto #articleMe{
		height: 45%;
	}
}
@media screen and (max-height: 600px) and (max-width: 450px){
	.divMeText .divPhoto #articleMe{
		top: 40%;
		height: 45%;
	}
}
@media screen and (max-height: 500px) and (max-width: 450px){
	.divMeText .divPhoto #photoMe{
		height: 150px;
		width: 150px;
	}
}
@media screen and (max-height: 450px){
	.divMeText .divPhoto h1{
		display: none;
	}
}
@media screen and (max-height: 450px) and (max-width: 800px) and (min-width: 450px){
	.divMeText .divPhoto #articleMe{
		top: 10%;
		height: 60%;
	}
}
